body{
   background: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
}

#img_inicial{
    height: 200px;
    width: 100%;
}

.titulo{
    text-align: center;
    color: rgb(255, 255, 255);  
    font-size: 35px;
}

nav{
    display: inline-block;
    vertical-align: top;
}

nav a{
    text-transform: uppercase;
    color: #5212a1;
    font-weight: bold;
    text-decoration: none;
}

.imgf{
    width: 50%;
    height: auto;
    display: inline-block;
}

