body{
   background: rgb(255, 255, 255);
}

#img_inicial{
    height: 200px;
    width: 100%;
}

.titulo{
    text-align: center;
    color: rgb(2, 2, 2);  
    font-size: 35px;
}

nav a{
    text-transform: uppercase;
    color: #5212a1;
    font-weight: hold;
    
}


